.carousel-button{
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--primary-dark);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-dark);
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
        display: flex;
    }
}
.carousel-button.next{
    transform: rotate(180deg);
}
.carousel-button:hover{
    background-color: var(--primary-dark);
    fill: var(--primary-light);
}
