.chefs-section{
    &__title{
        position: relative;
        margin: 0 auto 24px;

        @media screen and (min-width:$bp-desktop){
            margin-bottom: 80px;
        }
    }
        &__title::before,
        &__title::after {
            display: none;
            width: 352px;
            border: 2px solid var(--color-brand-light);
            content: '';
            position: absolute;
            bottom: 24px;

            @media screen and (min-width:$bp-desktop){
                display: block;
            }
        }
        &__title::before{
            left: 0;
        }
        &__title::after{
            right: 0;
        }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;

        @media screen and (min-width:$bp-tablet){
            flex-direction: row;
            gap: 40px 30px;
        }
    }
    &__item{
        @media screen and (min-width:$bp-tablet){
            flex-basis: calc((100% - 30px) / 2);
        }
    }
}

.chef-card{
    display: flex;
    align-items: flex-start;
    gap: 16px;

    @media screen and (min-width:$bp-desktop){
        gap: 30px;
    }
}

.chef-photo{
    width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--primary-light), -16px 16px 0 2px var(--color-secondary-dark);

    @media screen and (min-width:$bp-desktop){
        width: 240px;
    }
}
.chef-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;

    @media screen and (min-width:$bp-tablet){
        font-size: 40px;
    }
}
.chef-text p{
    font-size: 14px;
    margin-bottom: 24px;

    @media screen and (min-width:$bp-tablet){
        font-size: 18px;
    }
}
.chef-text p:last-child{
    margin-bottom: 0;
}